:root {
  --main-color: #f9690e;
  --secondary-color: #777;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "sans-serif";
}
html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  height: max-content;
}

/* Navbar  */
/* .contents {
  display: flex;
  justify-content: space-around;
} */
.contents a {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  margin: 15px 0px;
  text-decoration: none;
  transition: all 0.3s linear;
}
.contents a:hover {
  color: var(--main-color);
}
.contents a.active {
  color: var(--main-color);
  font-weight: bold;
 
}

/* Hero section  */
.hero-sec {
  background-image: url(../images/banner/banner.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}
.hero-sec .hero-secBtn {
  background: transparent;
  border: none;
  color: aliceblue;
  font-weight: bolder;
  padding: 10px 20px;
  border: 1px solid white;
  transition: all 0.5s linear;
}
.hero-sec .hero-secBtn:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

/* Class section  */

.cls-sec h2{
  color: var(--main-color);

}
.cls-sec .cls-circle{
  width: 40px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 90%;
}
.myClasses .cls-box{
  border: 2px solid var(--main-color);
  position: relative;
  border-radius: 0 0 20px 0;
  
}
.myClasses .cls-box .sm-boxx {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 0 10px;
    left: -15px;
    background: var(--main-color);
    top: -15px;
    border: 4px solid white;
    text-align: center
}
.myClasses .cls-box .sm-boxx i{
  font-size: 28px;
  color: white;
}
.myClasses .cls-box .box-text{
  margin-left: 40px;
  margin-top: 10px;

}
/* About section  */

.myAbout {
  background-image: url(../images/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}
.myAbout .abt-img img{
  min-height: 100px;
  max-height: 299px;
}


.myAbout .abt-text ul li i{
  font-size: 12px;
  color: var(--main-color);
  margin-right: 10px;
}

.myTrainers .trnr-profile i{
    border: 1px solid;
    width: 25%;
    font-size: 25px;
    margin: 5px;
    color: var(--secondary-color);
    border-radius: 5px;
    transition: all 0.4s linear;
  }
  .myTrainers .trnr-profile i:hover{
    color: var(--main-color);
    border-radius: 5px;
  border: 1px solid;
  
}
/* Galler Section  */

.myGallery{
   background-image: url(../images/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}
.myGallery .gryl-img{
  border-bottom: 2px solid var(--main-color);
}
.myGallery .overlayScreen {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.myGallery .position-relative:hover .overlayScreen {
  opacity: 1;
  visibility: visible;
}
